@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */
.startPage{
    display: grid;
    
}
.title{
    font-size :12 px;
}
.mostrar{
    display: block;
    margin: auto;
}
.ocultar{
    display: none;
}
.scoreResults{
    border: 1px solid black;
    margin: auto;
    
}

#rules {
    font-size: 20px;
    background: transparent;
    padding: 11px;
    color: white;
    width: 90%;
    margin: auto;
    border-radius: 21px;
    border-bottom: solid 1px whitesmoke;
}

#Time {
  background: #e9e9e9;
  color: black;
  border-radius: 10px;
}

img {
    width: 100px;
    border-radius: 50px;
    padding: 0px;
    margin: 10px 0px;
}

#Botonrandom {
    border: solid 1px white;
    border-radius: 25px;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#FingerText {
    background: white;
    color: black;
    border-radius: 20px 20px 0px  0px;
    padding: 10px 10px;
}

#left {
  position: static;
  right: 0px;
  width: 200px;
  background-color: rgb(203 0 0);
  border-right: 5px solid rgb(50, 50, 50);
  padding: 3px;
  filter: drop-shadow(2px 4px 6px black);
}

#right {
  width: 80%;
  height: auto;
}


#user1, #user2, #user3, #user4 {
    font-size: 30px;
    background: whitesmoke;
    color: black;
}

#score1, #score2, #score3, #score4 {
    font-size: 50px;
    background: #363636;
    color: white;
    border-bottom: black 20px solid;
}

#response {
    font-size: 40px;
    color: white;
    width: 90%;
    margin: 5px auto;
    padding: 10px 0px;
    border-radius: 10px;
}

#startButton {
    display: inline-block;
    min-width: 90px;
    font-size: 25px;
    padding: 5px 20px;
    margin-top: 20px;
    background: #cb0001;
    color: white;
}



  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mansalva', cursive;
}

:root {
  --main-color: #bdbdbd;
}

body {
  background: #161616;
  color: var(--main-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*font-family: 'Mansalva', cursive;*/
  font-size: 40px;
}

img {
  width: 100px;
  border-radius: 50px;
}

img:hover {
  border: 10px solid var(--main-color);
}

.intro {
  width: 380px;
  
}

input, button {
  
  display: inline-block;
  border: none;
  min-width: 90px;
  font-size: 25px;
  padding: 5px;
  
}


